# Ignore environment variables
.env

# Ignore node_modules
node_modules/

# Ignore build and log files
/dist
/build
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore other IDE files
.vscode/
.idea/

# Ignore other temporary files
*.swp
